<RunSettings>
  <!-- These can be overriden in DevOps VsTest task -->
  <TestRunParameters>
    <Parameter name="StorageBlobEndpoint" Value="http://127.0.0.1:10000"/>
    <Parameter name="SharedUserStorageAccountName" value="devstoreaccount1" />
    <Parameter name="SharedUserStorageKey" value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==" />
    <Parameter name="ProfileWidthLarge" value="800" />
    <Parameter name="ProfileWidthMedium" value="300" />
    <Parameter name="ProfileWidthSmall" value="100" />
  </TestRunParameters>
</RunSettings>